<div class="jumbotron">
  <h1 class="display-4">Find a Best Friend!</h1>
  <p class="lead">This is a simple application that will ask you 10 questions about your personality and match you with someone who answered similarly.</p>
  <hr class="my-4">
  <p>What are you waiting for? Start now!</p>
  <a class="btn btn-primary btn-lg" href="/survey" role="button">Survey</a>
</div>