<div class="jumbotron">
  <h1 class="display-4">Uhh... this is awkward</h1>
  <p class="lead">Looks like you're just too different from everybody else!</p>
  <hr class="my-4">
  <p>Maybe try again and give yourself a new personality?</p>
  <a class="btn btn-primary btn-lg" href="/survey" role="button">Survey</a>
</div>