<h1>Survey Questions</h1>
<br>
<h2>About You</h2>

<form action='/api/friends' method="POST">
    <div class="form-group">
        <label for="name">Name (Required)</label>
        <input type="name" class="form-control" name="name" placeholder="John Smith"required>
    </div>
    <div class="form-group">
        <label for="profile-pic">Image Link (Required)</label>
        <input type="img" class="form-control" name="pic" required>
    </div>
    <br>
    <h2>Questions</h2>
    <div class="form-group">
        <label for="question1">Your mind is always buzzing with unexplored ideas and plans.</label>
        <select class="form-control" name="question1" required>
            <option placeholder="Select an option"></option>
            <option>1 (Strongly Disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (Strongly Agree)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="question2">Generally speaking, you rely more on your experience than your imagination.</label>
        <select class="form-control" name="question2" required>
            <option placeholder="Select an option"></option>
            <option>1 (Strongly Disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (Strongly Agree)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="question3">You find it easy to stay relaxed and focused even when there is some pressure.</label>
        <select class="form-control" name="question3" required>
            <option placeholder="Select an option"></option>
            <option>1 (Strongly Disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (Strongly Agree)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="question4">You rarely do something just out of sheer curiosity.</label>
        <select class="form-control" name="question4" required>
            <option placeholder="Select an option"></option>
            <option>1 (Strongly Disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (Strongly Agree)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="question5">People can rarely upset you.</label>
        <select class="form-control" name="question5" required>
            <option placeholder="Select an option"></option>
            <option>1 (Strongly Disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (Strongly Agree)</option>
        </select>
    </div>
    <div class="form-group">It is often difficult for you to relate to other people’s feelings.</label>
        <select class="form-control" name="question6" required>
            <option placeholder="Select an option"></option>
            <option>1 (Strongly Disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (Strongly Agree)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="question7">In a discussion, truth should be more important than people’s sensitivities.</label>
        <select class="form-control" name="question7" required>
            <option placeholder="Select an option"></option>
            <option>1 (Strongly Disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (Strongly Agree)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="question8">You rarely get carried away by fantasies and ideas.</label>
        <select class="form-control" name="question8" required>
            <option placeholder="Select an option"></option>
            <option>1 (Strongly Disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (Strongly Agree)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="question9">You think that everyone’s views should be respected regardless of whether they are supported by facts or not.</label>
        <select class="form-control" name="question9" required>
            <option placeholder="Select an option"></option>
            <option>1 (Strongly Disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (Strongly Agree)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="question10">You feel more energetic after spending time with a group of people.</label>
        <select class="form-control" name="question10" required>
            <option placeholder="Select an option"></option>
            <option>1 (Strongly Disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (Strongly Agree)</option>
        </select>
    </div>
    <button type='submit' class='btn btn-primary'>Submit</button>
</form>